<div class="bg-gradient-to-t from-indigo-100 w-full h-[35rem] flex justify-center items-center">
    <div class="h-full w-full flex flex-row flex-shrink-0">
      <div class="w-1/2 h-full flex flex-col items-center justify-center flex-shrink-0 pl-52 text-right">
        <p class="group max-w-2xl select-none text-7xl font-bold text-amber-400 duration-200 ease-out hover:text-zinc-500">
              Melhore
          <span class="text-zinc-500 duration-200 ease-out group-hover:text-amber-400 !important">
            seu gerenciamento
          </span>
          agora mesmo!
        </p>
        <span class="pt-10  text-gray-400 text-sm">
            Somos uma startup de sistemas ERP para empresas e autônomos
        </span>
      </div>
      <div class="w-1/2 h-full flex items-center justify-start flex-shrink-0 ">
        <div class="bg-slate-50 border border-gray-400 rounded-lg w-96 h-[30rem] pt-20 flex flex-col justify-start items-center flex-shrink-0">
            <p class="text-lg text-gray-600 font-extrabold">
                Por apenas R$19,90/mês
            </p>
            <button class="text-2xl border-2 border-purple-400 rounded-lg p-2
                font-extrabold bg-clip-text text-transparent select-none
                bg-gradient-to-t from-purple-400 to-blue-500
                hover:bg-gradient-to-r hover:border-purple-500 duration-500"
                >
                Assine já!
            </button>
        </div>
      </div>
    </div>
  </div>

<div class="w-full h-96 bg-gray-50">

</div>
