<div class="flex items-center h-16 bg-slate-50 shadow-lg">
  <div class="flex-1">
    <h2>Yoozi</h2>
  </div>
  <nav class="flex">
    <div class="flex justify-center items-center gap-14">
      <a class="cursor-pointer">Sobre</a>

      <a class="cursor-pointer">Contato</a>

      <a class="cursor-pointer">Saiba mais</a>

      <a class="cursor-pointer">Dúvidas</a>

    </div>
  </nav>
  <div class="flex-1">

  </div>
</div>

<main class="h-screen">
  <div>

  </div>
</main>

<footer class="flex-1 h-16 bg-slate-200 ">
  <div ></div>
</footer>